<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body  style="background: #121212;">
    <%= render 'layouts/navbar' %>
    <div class="carousel">
      <div class="list">

        <div class="item">
          <!-- slider 1 content start -->
          <img src="/images/ad59387d0daa4f8584c09c814ad0229bMXZLt8OKx0CDdst6-1.png" alt="Slider image 1">
          <div class="intro">
            <div class="title">Branding</div>
            <div class="topic">Airphone ER</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
            <button class="seeMore">See detail <span>&gt;</span></button>
          </div>
          <!-- slider details start -->
          <div class="detail">
            <div class="title">Airphone ER</div>
            <div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
            <div class="specifications">
              <div>
                <p>Time</p>
                <p>6 hours</p>
              </div>
              <div>
                <p>Port</p>
                <p>Type-C</p>
              </div>
              <div>
                <p>Compatible</p>
                <p>Android</p>
              </div>
              <div>
                <p>Bluetooth</p>
                <p>5.3</p>
              </div>
              <div>
                <p>Controlled</p>
                <p>Touch</p>
              </div>
            </div>
            <div>
              <a href="index.html" class="buynow">Buy Now</a>
            </div>
          </div>
          <!-- slider details end -->

          <!-- slider 1 content end -->
        </div>

<div class="item">
<!-- slider 2 content start -->
<img src="/images/yyy.png" alt="Slider image 2">
<div class="intro">
<div class="title">Branding</div>
<div class="topic">Airphone ER</div>
<div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
<button class="seeMore">See detail <span>&gt;</span></button>
</div>
<!-- slider details start -->
<div class="detail">
<div class="title">Airphone ER</div>
<div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
<div class="specifications">
<div>
<p>Time</p>
<p>6 hours</p>
</div>
<div>
<p>Port</p>
<p>Type-C</p>
</div>
<div>
<p>Compatible</p>
<p>Android</p>
</div>
<div>
<p>Bluetooth</p>
<p>5.3</p>
</div>
<div>
<p>Controlled</p>
<p>Touch</p>
</div>
</div>
<div>
<a href="index.html" class="buynow">Buy Now</a>
</div>
</div>
<!-- slider details end -->

<!-- slider 2 content end -->
</div>
<div class="item">
<!-- slider 3 content start -->
<img src="https://bootstraptema.ru/snippets/slider/2024/MOOSLIDER/image3.png" alt="Slider image 3">
<div class="intro">
<div class="title">Branding</div>
<div class="topic">Airphone ER</div>
<div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
<button class="seeMore">See detail <span>&gt;</span></button>
</div>
<!-- slider details start -->
<div class="detail">
<div class="title">Airphone ER</div>
<div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
<div class="specifications">
<div>
<p>Time</p>
<p>6 hours</p>
</div>
<div>
<p>Port</p>
<p>Type-C</p>
</div>
<div>
<p>Compatible</p>
<p>Android</p>
</div>
<div>
<p>Bluetooth</p>
<p>5.3</p>
</div>
<div>
<p>Controlled</p>
<p>Touch</p>
</div>
</div>
<div>
<a href="index.html" class="buynow">Buy Now</a>
</div>
</div>
<!-- slider details end -->

<!-- slider 3 content end -->
</div>
<div class="item">
<!-- slider 4 content start -->
<img src="https://bootstraptema.ru/snippets/slider/2024/MOOSLIDER/image4.png" alt="Slider image 4">
<div class="intro">
<div class="title">Branding</div>
<div class="topic">Airphone ER</div>
<div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
<button class="seeMore">See detail <span>&gt;</span></button>
</div>
<!-- slider details start -->
<div class="detail">
<div class="title">Airphone ER</div>
<div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
<div class="specifications">
<div>
<p>Time</p>
<p>6 hours</p>
</div>
<div>
<p>Port</p>
<p>Type-C</p>
</div>
<div>
<p>Compatible</p>
<p>Android</p>
</div>
<div>
<p>Bluetooth</p>
<p>5.3</p>
</div>
<div>
<p>Controlled</p>
<p>Touch</p>
</div>
</div>
<div>
<a href="index.html" class="buynow">Buy Now</a>
</div>
</div>
<!-- slider details end -->

<!-- slider 4 content end -->
</div>
<div class="item">
<!-- slider 5 content start -->
<img src="https://bootstraptema.ru/snippets/slider/2024/MOOSLIDER/image5.png" alt="Slider image 5">
<div class="intro">
<div class="title">Branding</div>
<div class="topic">Airphone ER</div>
<div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
<button class="seeMore">See detail <span>&gt;</span></button>
</div>
<!-- slider details start -->
<div class="detail">
<div class="title">Airphone ER</div>
<div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
<div class="specifications">
<div>
<p>Time</p>
<p>6 hours</p>
</div>
<div>
<p>Port</p>
<p>Type-C</p>
</div>
<div>
<p>Compatible</p>
<p>Android</p>
</div>
<div>
<p>Bluetooth</p>
<p>5.3</p>
</div>
<div>
<p>Controlled</p>
<p>Touch</p>
</div>
</div>
<div>
<a href="index.html" class="buynow">Buy Now</a>
</div>
</div>
<!-- slider details end -->

<!-- slider 5 content end -->
</div>
<div class="item">
<!-- slider 6 content start -->
<img src="https://bootstraptema.ru/snippets/slider/2024/MOOSLIDER/image6.png" alt="Slider image 6">
<div class="intro">
<div class="title">Branding</div>
<div class="topic">Airphone ER</div>
<div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
<button class="seeMore">See detail <span>&gt;</span></button>
</div>
<!-- slider details start -->
<div class="detail">
<div class="title">Airphone ER</div>
<div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
<div class="specifications">
<div>
<p>Time</p>
<p>6 hours</p>
</div>
<div>
<p>Port</p>
<p>Type-C</p>
</div>
<div>
<p>Compatible</p>
<p>Android</p>
</div>
<div>
<p>Bluetooth</p>
<p>5.3</p>
</div>
<div>
<p>Controlled</p>
<p>Touch</p>
</div>
</div>
<div>
<a href="index.html" class="buynow">Buy Now</a>
</div>
</div>
<!-- slider details end -->

<!-- slider 6 content end -->
</div>
</div>
<div class="arrows">
<button id="prev">&lt;</button>
<button id="back"><span>&lt;</span></button>
<button id="next">&gt;</button>
</div>
</div>
    <br>
    <%= render 'products' %>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script src="https://bootstraptema.ru/snippets/slider/2024/MOOSLIDER/script.js"></script>
  </body>
</html>
