<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background: #121212;">
    <%= render 'layouts/navbar' %>
  </body>
</html>
